<?php
if(!$this->blogConfig()->enableArchives()) {
    return;
}
$dates = array_reverse($this->archiveList()->getArchiveDates(), true);
if (!count($dates)) {
    return;
}

$title = $this->blogConfig()->getFragment('archive_title');
$titleMarkup = '';
if($title) {
    $titleMarkup = sprintf(
        '<div class="archive-header">
            %s
        </div>',
        $title->asHtml()
    );
}

?>
<div class="archive-list">
    <?php echo $titleMarkup; ?>
    <dl>
    <?php
    $idPrefix = uniqid() . '-year-';
    foreach($dates as $year => $months) {
        $months = array_reverse($months, true);
        $currentYear = ( (int) date("Y") === (int) $year);
        $class = $currentYear ? 'current-year' : '';
        ?>
        <dt class="<?php echo $class; ?>"><a href="#<?php echo $idPrefix . $year; ?>"><?php echo $year; ?></a></dt>
        <dd class="<?php echo $class; ?>" id="<?php echo $idPrefix . $year; ?>">
            <ul>
            <?php
            foreach($months as $month => $count) {
                $url = (string) $this->url('prismic-blog/archives', ['year' => $year, 'month' => $month]);
                echo sprintf(
                    '<li><a href="%s"><time datetime="%d-%02d">%s</time><span class="count" data-count="%d">%d</span></a></li>',
                    $url,
                    $year,
                    $month,
                    date('F Y', mktime(12, 0, 0, $month, 1, $year)),
                    $count,
                    $count
                );
            }
            ?>
            </ul>
        </dd>
    <?php
    }
    ?>
    </dl>
</div>
