<?php

if(!$this->blogConfig()->enableTags()) {
    return;
}

if (!$this->post || !count($this->post->getTags())) {
    return;
}

$title = $this->blogConfig()->get('post_tags_title');
if($title) {
    $title = sprintf('<h3>%s</h3>', $this->escapeHtml($title));
}

?>

<div class="article-tag-list">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <?php echo $title; ?>
                <?php echo $this->partial('prismic-blog/article-tags', ['post' => $this->post]); ?>
            </div>
        </div>
    </div>
</div>