<?php
/**
 * View Script For Paging Through Results
 */

if ($this->pageCount > 1):

$view = $this->viewModel()->getCurrent();

$params = [];
if(isset($view->tag)) {
    $params['tag'] = $view->tag;
}
if(isset($view->year)) {
    $params['year'] = $view->year;
}
if(isset($view->month)) {
    $params['month'] = $view->month;
}
?>

<nav class="pagination-wrapper">
    <ul class="pagination">
    <?php if (isset($this->previous)):
        $prevParams = array_merge($params, ['page' => $this->previous]);
        $this->headLink(['rel' => 'prev', 'href' => $this->url($this->route, $prevParams)]);
        ?>
        <li><a href="<?php echo $this->url($this->route, $prevParams); ?>">
    <?php else: ?>
        <li class="disabled"><a href="#">
    <?php endif; ?><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>

<?php foreach ($this->pagesInRange as $page): ?>
    <?php if ($page != $this->current):
        $curParams = array_merge($params, ['page' => $page]);
    ?>
        <li><a href="<?php echo $this->url($this->route, $curParams); ?>"><?php echo $page; ?></a></li>
    <?php else: ?>
        <li class="active"><span><?php echo $page; ?> <span class="sr-only">(Current)</span></span></li>
    <?php endif; ?>
<?php endforeach; ?>

    <?php if (isset($this->next)):
        $nextParams = array_merge($params, ['page' => $this->next]);
        $this->headLink(['rel' => 'next', 'href' => $this->url($this->route, $nextParams)]);
        ?>
        <li><a href="<?php echo $this->url($this->route, $nextParams); ?>">
    <?php else: ?>
        <li class="disabled"><a href="#">
    <?php endif; ?><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
    
    </ul>
</nav>

<?php
endif;
?>
