<?php

$enable = $this->blogConfig()->get('paginate_articles')
        ? strtolower($this->blogConfig()->get('paginate_articles'))
        : 'yes';

if($enable === 'no') {
    return;
}

$next = $this->nextArticle($this->post);
$prev = $this->previousArticle($this->post);

$prevTitle = $nextTitle = 'Untitled Document';
if($prev) {
    if($prevFrag = $prev->get('article.headline')) {
        $prevTitle = $this->escapeHtml($prevFrag->asText());
    }
}
if($next) {
    if($nextFrag = $next->get('article.headline')) {
        $nextTitle = $this->escapeHtml($nextFrag->asText());
    }
}


if(!$next && !$prev) {
    return;
}

?>
<div class="post-next-prev">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <nav>
                    <ul class="pager">
                        <?php if($prev) { ?>
                        <li class="previous">
                            <a href="<?php echo $this->prismicUrl($prev); ?>">
                                <span class="fa fa-angle-left" aria-hidden="true"></span> 
                                Previous<span class="hidden-xs">: <?php echo $prevTitle; ?></span>
                            </a>
                        </li>
                        <?php } if($next) { ?>
                        <li class="next">
                            <a href="<?php echo $this->prismicUrl($next); ?>">
                                Next<span class="hidden-xs">: <?php echo $nextTitle; ?></span>
                                <span class="fa fa-angle-right"  aria-hidden="true"></span> 
                            </a>
                        </li>
                        <?php } ?>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>