<?php
/**
 * Partial used to render the tag cloud, which is now a tag 'list'
 */

if(!$this->blogConfig()->enableTagCloud()) {
    return;
}

if($this->articleTagList()->count() === 0) {
    return; // There are no tags…
}

$title = $this->blogConfig()->getFragment('tag_cloud_title');
$titleMarkup = '';
if($title) {
    $titleMarkup = sprintf(
        '<div class="tag-list-header">
            %s
        </div>',
        $title->asHtml()
    );
}
?>
<div class="blog-tag-list">
    <?php echo $titleMarkup; ?>
    <?php echo $this->articleTagList()->listAll() ?>
</div>

