<?php
/**
 * In order for comments to load correctly, we will need to make sure that
 * comments are first enabld, and that we can get a Disqus shortname from
 * the blog config
 */

$shortName = $this->blogConfig()->get('disqus_shortname');
if(empty($shortName)) {
    return;
}

$defaultCmt = $this->blogConfig()->get('default_enable_comments')
            ? strtolower($this->blogConfig()->get('default_enable_comments'))
            : 'no';

$postCmt    = $this->post->get('article.enable_comments')
            ? strtolower($this->post->get('article.enable_comments')->asText())
            : null;

if( ('no' === $postCmt) || (null === $postCmt && 'no' === $defaultCmt) ) {
    return;
}

?>
<noscript>
    <div class="bg-danger">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2><span class="fa fa-thumbs-down"></span> No JavaScript?</h2>
                    <p class="lead">You won’t be able to view or leave comments on this article unless JavaScript is enabled</p>
                </div>
            </div>
        </div>
    </div>
</noscript>

<div class="post-comments">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="disqus_thread">

                </div>
            </div>
        </div>
    </div>
</div>

<script>
var disqus_config = function () {
    this.page.url = '<?php echo $this->serverUrl() . $this->prismicUrl($this->post); ?>';
    this.page.identifier = '<?php echo $this->post->getId(); ?>';
<?php
if($headline = $this->post->get('headline')) {
    echo sprintf("this.page.title = '%s';", $headline->asText());
}
?>
};
(function() {
var d = document, s = d.createElement('script');
s.src = '//<?php echo $shortName; ?>.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
