<?php
/**
 * HTML used to summarise the article when it is rendered within a listing context
 */

if (!$this->post) {
    return;
}

$type = $this->post->getType();
$linkResolver = $this->linkResolver()->get();

$containerClass = [];

$url = $this->prismicUrl($this->post);
$headline = $this->post->get(sprintf('%s.headline', $type));
$headlineText = ($headline) ? $headline->asText() : 'Untitled Post';

$enableTags    = $this->blogConfig()->enableTags();
$enableCounts  = $this->blogConfig()->enableCommentCounts($this->post);
$enableComment = $this->blogConfig()->enableComments($this->post);

$imageFrag = $this->post->get(sprintf('%s.image', $type));
$imageMarkup = '';
if($imageFrag) {
    $containerClass[] = 'with-image';
    $imageMarkup = sprintf(
        '<div class="header-image">
            <a href="%s">
                %s
            </a>
        </div>',
        $url,
        $imageFrag->getMain()->asHtml()
    );
} else {
    $containerClass[] = 'no-image';
}


?>

<article class="hentry <?php echo implode(' ', $containerClass); ?>">
    <header>
        <?php echo $imageMarkup; ?>
        <h2>
            <a href="<?php echo $url; ?>">
                <?php echo $this->escapeHtml($headlineText); ?>
                <?php
                if($enableCounts) {
                    ?>
                    <span class="disqus-comment-count" data-disqus-identifier="<?php echo $this->post->getId(); ?>"></span>
                    <?php
                }
                ?>
            </a>
        </h2>
    </header>
    <div class="excerpt">
        <?php echo $this->postExcerpt($this->post); ?>
        <a class="read-more" href="<?php echo $url; ?>">Continue reading…</a>
    </div>
    <footer>
        <?php echo $this->postDate($this->post)->asRelativeDate(); ?>
        <?php echo $this->postAuthor($this->post)->getNameAsString(); ?>
        <?php echo $enableTags ? $this->partial('prismic-blog/article-tags', ['post' => $this->post]) : ''; ?>
    </footer>
    
    <?php echo $this->partial('prismic-blog/article-meta',      ['post' => $this->post]); ?>
</article>
