<?php

$enable = $this->blogConfig()->get('display_related')
        ? strtolower($this->blogConfig()->get('display_related'))
        : 'yes';

if($enable === 'no') {
    return;
}

$related = $this->post->get('article.related_articles');
if(!$related || !count($related->getArray())) {
    return;
}

$title = $this->blogConfig()->getFragment('related_title');
$titleMarkup = '';
if($title) {
    $titleMarkup = sprintf(
        '<div class="related-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        %s
                    </div>
                </div>
            </div>
        </div>',
        $title->asHtml()
    );
}

?>

<div class="related-articles">
    <?php echo $titleMarkup; ?>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="related-container">
                    <?php
                    foreach($related->getArray() as $rel) {
                        if(isset($rel['article']) && method_exists($rel['article'], 'getId')) {
                            $article = $this->prismicFinder()->getDocumentById($rel['article']->getId());
                            echo $this->partial('prismic-blog/excerpt', ['post' => $article]);
                        }
                    }
                    ?>
                </div>
            </div>
        </div>
    </div>
</div>

