<?php

$this->placeholder('dynamic-content')->captureStart();
?>

<section class="archive archive-container">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <?php echo $this->partial('prismic-blog/article-list', ['posts' => $this->posts]); ?>
                <?php
                echo $this->paginationControl(
                    $this->posts,
                    'Sliding',
                    'prismic-blog/article-pager',
                    ['route' => $this->route]
                );
                ?>
            </div>
            <div class="col-md-4">
                <?php echo $this->partial('prismic-blog/archive-list'); ?>
                <?php echo $this->partial('prismic-blog/blog-tag-list'); ?>
            </div>
        </div>
    </div>
</section>

<?php
$this->placeholder('dynamic-content')->captureEnd();

// Output standard slices:
echo $this->contentSlices($this->prismic()->getDocument(), 'body');
